<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        <link rel="icon" type="image/png" href="../assets/icons/favicon.png" />
        <!--js file 1 -->
        <script defer type="module" src="../js/index.js"></script>

        <!-- file 2 -->
        <script
            defer
            type="module"
            src="../js/handle-user-input/validate-input.js"
        ></script>

        <style>
            form,
            label,
            input,
            strong {
                display: block;
                margin-bottom: 10px;
            }

            .display-none {
                display: none;
            }

            #err-msg-1,
            #err-msg-2 {
                color: red;
            }

            form,
            #results-cont {
                border: 2px solid orange;
            }

            #calc-btn,
            #clear-btn {
                margin-bottom: 20px;
            }

            @media only screen and (min-width: 375px) {
                /* hide the desktop button on mobile screens */
                #desktop-history-btn {
                    display: none;
                }
            }

            @media only screen and (min-width: 900px) {
                /* hide these mobile buttons on desktop screens */
                #mobile-history-btn,
                #go-back-btn {
                    display: none;
                }

                /* hide the desktop button on mobile screens */
                #desktop-history-btn {
                    display: block;
                }
            }

            dialog {
                padding: 100px;
            }
        </style>
    </head>
    <body>
        <article id="parent-cont">
            <!-- history button that's only displayed on mobile devices -->
            <button id="mobile-history-btn" class="history-btn">History</button>
            <h1>Discount Calculator</h1>

            <!-- !form cont -->
            <form id="form">
                <!-- original price input -->
                <section id="original-cont">
                    <label for="original-price">Original Price (£)</label>
                    <input
                        id="original-price"
                        required
                        type="text"
                        name="original-input"
                    />
                    <strong id="err-msg-1" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- discount input -->
                <section id="discount-cont">
                    <label for="discount-price">Discount (%)</label>
                    <input
                        id="discount-price"
                        required
                        type="text"
                        name="discount-input"
                    />
                    <strong id="err-msg-2" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- buttons -->
                <button id="calc-btn" type="submit">Calculate</button>
                <button id="clear-btn" type="button">Clear</button>
            </form>

            <!-- !no calculations yet (default) -->
            <div id="no-calcs-cont">
                <h2>No calculations yet!</h2>
                <!-- img here -->
            </div>

            <!-- !results cont -->
            <div id="results-cont" class="display-none">
                <section id="results-btns-cont">
                    <!-- go back button (created by js) and history button -->
                    <button id="go-back-btn" type="button">Go Back</button>

                    <!-- desktop history button -->
                    <button
                        type="button"
                        id="desktop-history-btn"
                        class="history-btn"
                    >
                        History
                    </button>
                </section>

                <section>
                    <!-- new price cont-->
                    <div>
                        <h2>New Price</h2>
                        <p>£<span id="new-price"></span></p>
                    </div>

                    <!-- savings cont -->
                    <div>
                        <h2>Savings</h2>
                        <p>£<span id="savings-price"></span></p>
                    </div>
                </section>
            </div>
        </article>

        <dialog id="modal" autofocus>
            <!-- *top buttons -->
            <button type="button">Clear</button>
            <button id="close-btn" type="button">Close</button>

            <!-- *no history yet cont (shown by default)-->
            <article id="empty-history-cont">No history yet!</article>

            <!-- *no history list cont -->
            <article id="history-list-cont" class="display-none">
                <h2>You searched...</h2>

                <ul id="history-list"></ul>
            </article>
        </dialog>
    </body>
</html>
