<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        <link rel="icon" type="image/png" href="../assets/icons/favicon.png" />
        <script
            defer
            type="module"
            src="../js/calc-and-display-discount.js"
        ></script>
        <style>
            label,
            input,
            strong {
                display: block;
                margin-bottom: 10px;
            }

            .display-none {
                display: none;
            }

            #err-msg-1,
            #err-msg-2 {
                color: red;
            }

            #calc-btn,
            #clear-btn {
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Discount Calculator</h1>

        <article>
            <!-- !form cont -->
            <form id="form">
                <!-- original price input -->
                <section id="original-cont">
                    <label for="original-price">Original Price (£)</label>
                    <input
                        id="original-price"
                        required
                        type="text"
                        name="original-input"
                    />
                    <strong id="err-msg-1" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- discount input -->
                <section id="discount-cont">
                    <label for="discount-price">Discount (%)</label>
                    <input
                        id="discount-price"
                        required
                        type="text"
                        name="discount-input"
                    />
                    <strong id="err-msg-2" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- buttons -->
                <button id="calc-btn" type="submit">Calculate</button>
                <button id="clear-btn" type="button">Clear</button>
            </form>

            <!-- !no calculations yet (default) -->
            <div id="no-calcs-cont" class="">
                <h2>No calculations yet!</h2>
            </div>

            <!-- !results cont -->
            <div id="results-cont" class="display-none">
                <button type="button">History</button>

                <!-- new price -->
                <div>
                    <h2>New Price</h2>
                    <p id="new-price"></p>
                </div>

                <!-- savings -->
                <div>
                    <h2>Savings</h2>
                    <p id="savings-price"></p>
                </div>
            </div>
        </article>
    </body>
</html>
