<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        <link rel="icon" type="image/png" href="../assets/icons/favicon.png" />
        <!--js file 1 -->
        <script defer type="module" src="../js/index.js"></script>

        <!-- file 2 -->
        <script
            defer
            type="module"
            src="../js/handle-user-input/handle-user-input.js"
        ></script>

        <!-- file 3 -->
        <script
            defer
            type="module"
            src="../js/manage-history/delete-single-history.js"
        ></script>

        <!-- file 4 -->
        <script
            defer
            type="module"
            src="../js/manage-history/clear-history.js"
        ></script>

        <style>
            form,
            label,
            input,
            strong {
                display: block;
                margin-bottom: 10px;
            }

            .display-none {
                display: none;
            }

            #err-msg-1,
            #err-msg-2 {
                color: red;
            }

            form,
            #results-cont {
                border: 2px solid orange;
            }

            #calc-btn,
            #clear-btn {
                margin-bottom: 20px;
            }

            dialog {
                padding: 100px;
            }
        </style>
    </head>
    <body>
        <!-- !MOBILE CONTAINER -->
        <article id="mobile-cont" class="parent-cont display-none">
            <!-- buttons container -->
            <div id="mobile-buttons-cont">
                <button id="mobile-history-btn" class="history-btn">
                    History
                </button>

                <button id="go-back-btn" type="button">Go Back</button>
            </div>

            <!-- user output (either it's the form by default, results, or history) -->
            <div id="user-output"></div>
        </article>

        <!-- !DESKTOP CONTAINER -->
        <article id="desktop-cont" class="parent-cont">
            <div id="form-and-title-cont">
                <h1>Discount Calculator</h1>

                <!-- form cont -->
                <form id="form">
                    <!-- original price input -->
                    <section id="original-cont">
                        <label for="original-price">Original Price (£)</label>
                        <input
                            id="original-price"
                            required
                            type="text"
                            name="original-input"
                        />
                        <strong id="err-msg-1" class="display-none"
                            >Please type in a number</strong
                        >
                    </section>

                    <!-- discount input -->
                    <section id="discount-cont">
                        <label for="discount-price">Discount (%)</label>
                        <input
                            id="discount-price"
                            required
                            type="text"
                            name="discount-input"
                        />
                        <strong id="err-msg-2" class="display-none"
                            >Please type in a number</strong
                        >
                    </section>

                    <!-- buttons -->
                    <button id="calc-btn" type="submit">Calculate</button>
                    <button id="clear-btn" type="button">Clear</button>
                </form>
            </div>

            <!-- desktop history button -->
            <button type="button" id="desktop-history-btn" class="history-btn">
                History
            </button>

            <!-- no calculations yet (default) -->
            <div id="no-calcs-cont">
                <h2>No calculations yet!</h2>
                <!-- img here -->
            </div>

            <!-- results cont -->
            <div id="results-cont" class="display-none">
                <section>
                    <!-- new price cont-->
                    <div>
                        <h2>New Price</h2>
                        <p>£<span id="new-price"></span></p>
                    </div>

                    <!-- savings cont -->
                    <div>
                        <h2>Savings</h2>
                        <p>£<span id="savings-price"></span></p>
                    </div>
                </section>
            </div>
        </article>

        <dialog id="modal" autofocus>
            <!-- top buttons -->
            <button id="clear-history-btn" type="button">Clear</button>
            <button id="close-btn" type="button">Close</button>

            <!-- no history yet cont (shown by default)-->
            <article id="empty-history-cont">No history yet!</article>

            <!-- no history list cont -->
            <article id="history-list-cont" class="display-none">
                <h2>You searched...</h2>

                <ul id="history-list"></ul>
            </article>
        </dialog>

        <dialog id="confirm-single-deletion-modal">
            <h2>Are you sure about this deletion?</h2>
            <button id="single-deletion-yes-btn">Yes</button>
            <button id="single-deletion-no-btn">No</button>
        </dialog>

        <dialog id="clear-history-modal">
            <h2>Are you sure you want to clear your history?</h2>
            <button id="clear-history-yes-btn">Yes</button>
            <button id="clear-history-no-btn">No</button>
        </dialog>
    </body>
</html>
