<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        <link rel="icon" type="image/png" href="../assets/icons/favicon.png" />
        <script
            defer
            type="module"
            src="../js/calc-and-display-discount.js"
        ></script>
        <style>
            form,
            label,
            input,
            strong {
                display: block;
                margin-bottom: 10px;
            }

            .display-none {
                display: none;
            }

            #err-msg-1,
            #err-msg-2 {
                color: red;
            }

            form,
            #results-cont {
                border: 2px solid orange;
            }

            #calc-btn,
            #clear-btn {
                margin-bottom: 20px;
            }

            @media only screen and (min-width: 900px) {
                #history-btn,
                #go-back-btn {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <!-- history button that's only displayed on mobile devices -->
        <button id="history-btn">History</button>
        <h1>Discount Calculator</h1>

        <article>
            <!-- !form cont -->
            <form id="form">
                <!-- original price input -->
                <section id="original-cont">
                    <label for="original-price">Original Price (£)</label>
                    <input
                        id="original-price"
                        required
                        type="text"
                        name="original-input"
                    />
                    <strong id="err-msg-1" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- discount input -->
                <section id="discount-cont">
                    <label for="discount-price">Discount (%)</label>
                    <input
                        id="discount-price"
                        required
                        type="text"
                        name="discount-input"
                    />
                    <strong id="err-msg-2" class="display-none"
                        >Please type in a number</strong
                    >
                </section>

                <!-- buttons -->
                <button id="calc-btn" type="submit">Calculate</button>
                <button id="clear-btn" type="button">Clear</button>
            </form>

            <!-- !no calculations yet (default) -->
            <div id="no-calcs-cont" class="display-none">
                <h2>No calculations yet!</h2>
                <!-- img here -->
            </div>

            <!-- !results cont -->
            <div id="results-cont" class="display-none">
                <!-- go back button (created by js) and history button -->
                <section id="results-btns-cont">
                    <button type="button">History</button>
                </section>

                <section>
                    <!-- new price -->
                    <div>
                        <h2>New Price</h2>
                        <p>£<span id="new-price"></span></p>
                    </div>

                    <!-- savings -->
                    <div>
                        <h2>Savings</h2>
                        <p>£<span id="savings-price"></span></p>
                    </div>
                </section>
            </div>
        </article>
    </body>
</html>
